@import "tailwindcss";

@font-face {
  font-family: satoshi;
  src: url(/Satoshi-Regular.otf);
}

@font-face {
  font-family: satoshi-medium;
  src: url(/Satoshi-Medium.otf);
}

.satoshi {
  font-family: satoshi;
  font-weight: 600;
}

.satoshi-medium {
  font-family: satoshi-medium;
}

:root {
  font-family: satoshi-medium, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
